{% extends 'hospital/patient_base.html' %}
{% load static %}
{% block content %}
<style>
    .menu {
      top: 120px;
      height: 73vh;
    }
    .bs-example {
      width: 98.5%;
      height: 80px;
      background-color: #e1e1e1;
      border-radius: 20px;
      margin: 15px;
      position: fixed;
      left: 0px;
    }
    .navbar-brand {
      margin-top: 21px;
      margin-left: 15px;
    }
    .navbar-nav {
      margin-top: 21px;
    }
    iframe{
        margin-left: 270px;
        margin-top: 70px;
        height: 700px;
        width: 1300px;
        border-radius: 30px;
    }
</style>
<iframe  height="100%%" width="100%%" src="https://chat-trial.netlify.app/"></iframe>
{% endblock content %}