{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedSafe</title>
    <link rel="stylesheet" href="{% static "CSS/styles.css" %}">
</head>
<body>
    <header>
        <div class="logo"><a href="index.html">MedTube</a></div>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search">
            <button onclick="searchVideos()">Search</button>
        </div>
        
    </header>
    <main>
        <section class="video-list" id="videoContainer">
            <h2 style="margin-left: 18px;">Recommended Videos</h2>
            <div class="video-container"></div>
        </section>
    </main>
    <script src="{% static 'JS/scripts.js' %}"></script>
</body>
</html>
