{% extends 'hospital/patient_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <form  action="/report-searchdoctor" method="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" id="query" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Reports</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Doctor Name</th>
          <th>Report Date</th>
          <th>Admit Date</th>
        </tr>
      </thead>
      {% for r in reports %}
      <tr>
        <td> {{r.assignedDoctorName}}</td>
        <td>{{r.todayDate}}</td>
        <td>{{r.admitDate}}</td>
        <td>
            <a
              class="btn btn-danger btn-xs"
              href="{% url 'patient-report-view' %}"
              ><span class="glyphicon glyphicon-folder-open"></span
            ></a>
              </td>
        {% comment %} {%if a.status%}
        <td> <span class="label label-primary">Confirmed</span></td>
        {% else %}
        <td> <span class="label label-success">Pending</span></td>
        {% endif %} {% endcomment %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
